%h1.page-header
  Memberships
  %small / Index
.row
  .col-md-12
    .text-right
      = new_link Membership do
        %button.btn.btn-success{type: "button"} New
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th #
            %th Code
            %th Name
            %th Type
            %th.action-cell
        %tbody
          - @masters.each do |membership|
            %tr
              %td= membership.id
              %td= membership.code
              %td= membership.name
              %td= membership.kind.titleize
              %td.action-cell
                = show_link membership do
                  %span.btn-xs.btn-info
                    %i.fa.fa-search
                %span.spacer
                = edit_link membership do
                  %span.btn-xs.btn-primary
                    %i.fa.fa-pencil
.row
  .col-md-12.text-right
    = paginate @masters
