%h1.page-header
  Memberships
  %small / View
.row
  .col-md-12
    .text-right
      = render 'shared/masters/show_actions'

    .row
      .col-md-6
        = display_field @membership.code, label: 'Code'
      .col-md-6
        = display_field @membership.name, label: 'Name'
    .row
      .col-md-6
        = display_field @membership.kind.titleize, label: 'Type'
    .row
      .col-md-12
        = display_field @membership.notes, label: 'Notes'
