= simple_form_for @issue, defaults: {input_html: { class: "form-control" }} do |f|
  .row
    .col-md-12
      .text-right
        = f.button :submit, class: 'btn-primary'
        = link_to @issue do
          %button.btn.btn-default{type: 'button'} Cancel

  = render 'shared/errors/messages', object: f.object

  .form-inputs
    .row
      .col-md-6
        = f.input :copy_id, autofocus: true,            |
          collection: copy_collection([f.object.copy]), |
          input_html: {class: 'form-control custom'}    |
      .col-md-6
        = f.input :member_id,                               |
          collection: member_collection([f.object.member]), |
          input_html: {class: 'form-control custom'}        |
    .row
      .col-md-6
        = f.input :issued_date, as: :datepick
      .col-md-6
        = f.input :return_date, as: :datepick

    %h4.form-section Notes
    .row
      .col-md-12
        = f.input :notes, label: false

  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to @issue do
      %button.btn.btn-default{type: 'button'} Cancel
