%h1.page-header
  Copies
  %small / Index
.row
  .col-md-12
    .text-right
      = new_link Copy do
        %button.btn.btn-success{type: 'button'} New
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th #
            %th Item
            %th Accession No
            %th Quality
            %th Status
            %th Issued
            %th.action-cell
        %tbody
          - @copies.each do |copy|
            %tr
              %td= copy.id
              %td= copy.item.name
              %td= copy.name
              %td= copy.quality.titleize
              %td= copy.status.titleize
              %td= copy.issued ? 'Yes' : 'No'
              %td.action-cell
                = show_link copy do
                  %span.btn-xs.btn-info
                    %i.fa.fa-search
                %span.spacer
                = edit_link copy do
                  %span.btn-xs.btn-primary
                    %i.fa.fa-pencil
.row
  .col-md-12.text-right
    = paginate @copies
