%h1.page-header
  Copies
  %small / View
.row
  .col-md-12
    .text-right
      = render 'shared/masters/show_actions'

    .row
      .col-md-6.text-center.pull-right
        .image-container= image_tag @copy.image_url(:thumb)
      .col-md-6
        .row
          .col-md-12
            = display_field @copy.item.name, label: 'Item'
        .row
          .col-md-12
            = display_field @copy.name, label: 'Accession No'
        .row
          .col-md-12
            = display_field @copy.procured_date, label: 'Procured Date'
    .row
      .col-md-3
        = display_field @copy.quantity, label: 'Quantity'
      .col-md-3
        = display_field @copy.issuable.to_s.titleize, label: 'Issuable'
    .row
      .col-md-3
        = display_field @copy.quality.titleize, label: 'Quality'
      .col-md-3
        = display_field @copy.status.titleize, label: 'Status'
      .col-md-6
        = display_field @copy.location, label: 'Location'
    .row
      .col-md-6
        = display_field "#{@copy.length} #{@copy.length_uom.to_s.titleize}", label: 'Length'
      .col-md-6
        = display_field @copy.format.titleize, label: 'Format'
    .row
      .col-md-6
        = display_field @copy.publisher, label: 'Publisher'
      .col-md-6
        = display_field @copy.published_date, label: 'Published Date'
    .row
      .col-md-6
        = display_field @copy.cost, label: 'Cost'
      .col-md-6
        = display_field @copy.price, label: 'Price'
    .row
      .col-md-12
        = display_field @copy.notes, label: 'Notes'
