%h1.page-header
  Users
  %small / Index
.row
  .col-md-12
    .text-right
      = new_link User do
        %button.btn.btn-success{type: "button"} New
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th #
            %th Email
            %th Current Sign In
            %th Last Sign In
            %th.action-cell
        %tbody
          - @masters.each do |user|
            %tr
              %td= user.id
              %td= user.email
              %td= user.current_sign_in_at
              %td= user.last_sign_in_at
              %td.action-cell
                = show_link user do
                  %span.btn-xs.btn-info
                    %i.fa.fa-search
                %span.spacer
                = edit_link user do
                  %span.btn-xs.btn-primary
                    %i.fa.fa-pencil
.row
  .col-md-12.text-right
    = paginate @masters
