= simple_form_for @creator, defaults: {input_html: { class: 'form-control' }} do |f|
  .row
    .col-md-12
      .text-right
        = render 'shared/masters/form_actions', f: f

  = render 'shared/errors/messages', object: f.object

  .form-inputs
    .row
      .col-md-6
        = f.input :kind, label: 'Type', include_blank: false,    |
          collection: format_collection(Settings.creator_kinds), |
          autofocus: true,                                       |
          input_html: {class: 'form-control selectize'}          |
    .row
      .col-md-4
        = f.input :first_name
      .col-md-4
        = f.input :middle_name
      .col-md-4
        = f.input :last_name
    .row
      .col-md-6
        = f.input :full_name
      .col-md-6
        = f.input :sort_name

    %h4.form-section Photo
    .row
      .col-md-12
        = f.input :photo, as: :file, label: false, input_html: { capture: 'camera' }
    .row
      .col-md-12
        = f.input :remote_photo_url, label: 'Or a URL to the photo'

    %h4.form-section Notes
    .row
      .col-md-12
        = f.input :notes, label: false

  .form-actions
    = render 'shared/masters/form_actions', f: f
