%h1.page-header
  Creators
  %small / View
.row
  .col-md-12
    %p#notice= notice
    .text-right
      = render 'shared/masters/show_actions'

    .row
      .col-md-6
        = display_field @master.kind, label: 'Type'
    .row
      .col-md-6
        = display_field @master.first_name, label: 'First Name'
      .col-md-6
        = display_field @master.last_name, label: 'Last Name'
    .row
      .col-md-6
        = display_field @master.full_name, label: 'Full Name'
      .col-md-6
        = display_field @master.sort_name, label: 'Sort Name'
    .row
      .col-md-12
        = display_field @master.notes, label: 'Notes'
