= simple_form_for @reservation, defaults: {input_html: { class: "form-control" }} do |f|
  .row
    .col-md-12
      .text-right
        = f.button :submit, class: 'btn-primary'
        = link_to @reservation do
          %button.btn.btn-default{type: "button"} Cancel

  = f.error_notification

  .form-inputs
    .row
      .col-md-6
        = f.association :item, input_html: { class: 'selectize' }, autofocus: true
      .col-md-6
        = f.association :member, input_html: { class: 'selectize' }
    .row
      .col-md-6
        = f.input :reserved_date, as: :datepick

    %h4.form-section Notes
    .row
      .col-md-12
        = f.input :notes, label: false

  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to @reservation do
      %button.btn.btn-default{type: "button"} Cancel
