= simple_nested_form_for @item, defaults: {input_html: { class: 'form-control' }}, html: { multipart: true } do |f|
  .row
    .col-md-12
      .text-right
        = render 'shared/masters/form_actions', f: f

  = render 'shared/errors/messages', object: f.object

  .form-inputs
    .row
      .col-md-6
        = f.input :code, autofocus: true
      .col-md-6
        = f.input :name
    .row
      .col-md-6
        = f.association :category, input_html: { class: 'selectize' }
      .col-md-6
        = f.input :subject
    .creator-tabs
      %ul.nav.nav-tabs
        %li.margin-10
        %li.active
          %a{href: '#tab_creators', data: {toggle: 'tab'}} Creators
      .tab-content
        #tab_contacts.tab-pane.active
          .row
            .col-md-12
              .table-responsive
                %table#item_creators.table.table-striped.table-hover.spreadsheet
                  %thead
                    %tr
                      %th #
                      %th Creator
                      %th Role
                      %th
                  %tbody#item_creator_fields
                    = f.simple_fields_for :item_creators, wrapper: false do |ff|
                      = render 'item_creator_fields', f: ff
              %p
                = f.link_to_add ' Add', :item_creators, 'data-target' => '#item_creator_fields', class: 'btn btn-sm btn-primary fa fa-plus'
    .spaceholder
    .row
      .col-md-6
        = f.input :kind, label: 'Type',                       |
          collection: format_collection(Settings.item_kinds), |
          input_html: {class: 'form-control selectize'}       |
      .col-md-6
        = f.input :format,                                      |
          collection: format_collection(Settings.item_formats), |
          input_html: {class: 'form-control selectize'}         |
    .row
      .col-md-6
        = f.input :publisher
      .col-md-6
        = f.input :published_date, as: :datepick
    .row
      .col-md-3
        = f.input :length
      .col-md-3
        = f.input :length_uom,                                      |
          collection: format_collection(Settings.item_length_uoms), |
          input_html: {class: 'form-control selectize'}             |
      .col-md-6
        = f.input :language,                                      |
          collection: format_collection(Settings.item_languages), |
          input_html: {class: 'form-control selectize'}           |
    .row
      .col-md-6
        = f.input :isbn_10, label: 'ISBN 10'
      .col-md-6
        = f.input :isbn_13, label: 'ISBN 13'
    .row
      .col-md-6
        = f.input :rights,                                     |
          collection: format_collection(Settings.item_rights), |
          input_html: {class: 'form-control selectize'}        |
      .col-md-6
        = f.input :rating,                              |
          collection: Settings.item_ratings,            |
          input_html: {class: 'form-control selectize'} |
    .row
      .col-md-6
        = f.input :cost
      .col-md-6
        = f.input :price
    .row
      .col-md-12
        = f.input :tags
    .row
      .col-md-2
        = f.input :copywise, as: :select, input_html: {class: 'form-control selectize'}
    .row
      .col-md-12
        = f.input :excerpt

    %h4.form-section Photo
    .row
      .col-md-12
        = f.input :photo, as: :file, label: false, input_html: { capture: 'camera' }
    .row
      .col-md-12
        = f.input :remote_photo_url, label: 'Or a URL to the photo'

    %h4.form-section Notes
    .row
      .col-md-12
        = f.input :notes, label: false

  .form-actions
    = render 'shared/masters/form_actions', f: f
