%h1.page-header
  Items
  %small / View
.row
  .col-md-12
    .text-right
      = render 'shared/masters/show_actions'

    .row
      .col-md-6.text-center.pull-right
        .image-container
          = image_tag @item.photo.thumb.url
      .col-md-6
        .row
          .col-md-12
            = display_field @item.code, label: 'Code'
        .row
          .col-md-12
            = display_field @item.name, label: 'Name'
        .row
          .col-md-12
            = display_field @item.category.name, label: 'Category'
        .row
          .col-md-12
            = display_field @item.subject, label: 'Subject'
    .tabbable
      %ul.nav.nav-tabs
        %li.margin-10
        %li.active
          %a{href: '#tab_creators', data: {toggle: 'tab'}} Creators
      .tab-content
        #tab_contacts.tab-pane.active
          .row
            .col-md-12
              .table-responsive
                %table#item_creators.table.table-striped.table-hover.spreadsheet
                  %thead
                    %tr
                      %th #
                      %th Creator
                      %th Role
                  %tbody#item_creator_fields
                    - @item.item_creators.each_with_index do |item_creator, index|
                      %tr
                        %td= index + 1
                        %td= item_creator.creator.name
                        %td= item_creator.role.titleize
    .spaceholder
    .row
      .col-md-6
        = display_field @item.kind.titleize, label: 'Type'
      .col-md-6
        = display_field @item.format.titleize, label: 'Format'
    .row
      .col-md-6
        = display_field @item.publisher, label: 'Publisher'
      .col-md-6
        = display_field @item.published_date, label: 'Published Date'
    .row
      .col-md-6
        = display_field "#{@item.length} #{@item.length_uom.to_s.titleize}", label: 'Length'
      .col-md-6
        = display_field @item.language.titleize, label: 'Language'
    .row
      .col-md-6
        = display_field @item.isbn_10, label: 'ISBN(10)'
      .col-md-6
        = display_field @item.isbn_13, label: 'ISBN(13)'
    .row
      .col-md-6
        = display_field @item.rights.to_s.titleize, label: 'Rights'
      .col-md-6
        = display_field @item.rating, label: 'Rating'
    .row
      .col-md-6
        = display_field @item.cost, label: 'Cost'
      .col-md-6
        = display_field @item.price, label: 'Price'
    .row
      .col-md-12
        = display_field @item.tags, label: 'Tags'
    .row
      .col-md-12
        = display_field @item.excerpt, label: 'Excerpt'
    .row
      .col-md-12
        = display_field @item.notes, label: 'Notes'
