.row
  .col-md-6
    = f.input :line_1
  .col-md-6
    = f.input :line_2
.row
  .col-md-12
    = f.input :landmark
.row
  .col-md-6
    = f.input :city
  .col-md-6
    = f.input :state
.row
  .col-md-6
    = f.input :country, input_html: { class: 'selectize' }
  .col-md-6
    = f.input :postal_code
.row
  .col-md-6
    = f.input :phone_1
  .col-md-6
    = f.input :phone_2
.row
  .col-md-12
    = f.input :mobile
.row
  .col-md-6
    = f.input :email_1
  .col-md-6
    = f.input :email_2
