.row
  .col-md-6
    = display_field address.line_1, label: 'Line 1'
  .col-md-6
    = display_field address.line_2, label: 'Line 2'
.row
  .col-md-6
    = display_field address.landmark, label: 'Landmark'
.row
  .col-md-6
    = display_field address.city, label: 'City'
  .col-md-6
    = display_field address.state, label: 'State'
.row
  .col-md-6
    = display_field address.postal_code, label: 'Postal Code'
  .col-md-6
    = display_field address.country, label: 'Country'
.row
  .col-md-6
    = display_field address.phone_1, label: 'Phone 1'
  .col-md-6
    = display_field address.phone_2, label: 'Phone 2'
.row
  .col-md-6
    = display_field address.mobile, label: 'Mobile'
.row
  .col-md-6
    = display_field address.email_1, label: 'Email 1'
  .col-md-6
    = display_field address.email_2, label: 'Email 2'
