= simple_form_for @category, defaults: {input_html: { class: "form-control" }} do |f|
  .row
    .col-md-12
      .text-right
        = render 'shared/masters/form_actions', f: f

  = render 'shared/errors/messages', object: f.object

  .form-inputs
    .row
      .col-md-6
        = f.input :code, autofocus: true
      .col-md-6
        = f.input :name
    .row
      .col-md-6
        = f.input :kind, label: 'Type',                           |
          collection: format_collection(Settings.category_kinds), |
          input_html: {class: 'form-control selectize'}           |

    %h4.form-section Notes
    .row
      .col-md-12
        = f.input :notes, label: false

  .form-actions
    = render 'shared/masters/form_actions', f: f
