= simple_form_for @master, defaults: {input_html: { class: "form-control" }} do |f|
  .row
    .col-md-12
      .text-right
        = render 'shared/masters/form_actions', f: f

  = f.error_notification

  .form-inputs
    .row
      .col-md-6
        = f.input :code, autofocus: true
      .col-md-6
        = f.input :name
    .row
      .col-md-6
        = f.input :kind,                                |
          label: "Type",                                |
          collection: Settings.category.kinds,          |
          input_html: {class: "form-control selectize"} |
    .row
      .col-md-12
        = f.input :notes

  .form-actions
    = render 'shared/masters/form_actions', f: f
