%h1.page-header
  Categories
  %small / Index
.row
  .col-md-12
    .text-right
      = render 'shared/masters/index_actions'

    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th #
            %th Code
            %th Name
            %th Type
            %th.action-cell
        %tbody
          - @masters.each do |category|
            %tr
              %td= category.id
              %td= category.code
              %td= category.name
              %td= category.kind.titleize
              %td.action-cell
                = show_link category do
                  %span.btn-xs.btn-info
                    %i.fa.fa-search
                %span.spacer
                = edit_link category do
                  %span.btn-xs.btn-primary
                    %i.fa.fa-pencil
.row
  .col-md-12.text-right
    = paginate @masters
