%h1.page-header
  Categories
  %small / View
.row
  .col-md-12
    %p#notice= notice
    .text-right
      = render 'shared/masters/show_actions'

    .row
      .col-md-6
        = display_field @master.code, label: 'Code'
      .col-md-6
        = display_field @master.name, label: 'Name'
    .row
      .col-md-6
        = display_field @master.kind, label: 'Type'
    .row
      .col-md-12
        = display_field @master.notes, label: 'Notes'
