= simple_form_for @receipt, defaults: {input_html: { class: "form-control" }} do |f|
  .row
    .col-md-12
      .text-right
        = f.button :submit, class: 'btn-primary'
        = link_to @receipt do
          %button.btn.btn-default{type: 'button'} Cancel

  = render 'shared/errors/messages', object: f.object

  .form-inputs
    .row
      .col-md-6
        = f.input :member_id,                               |
          collection: member_collection([f.object.member]), |
          input_html: {class: 'form-control custom'}        |
      .col-md-6
        = f.input :received_date, as: :datepick
    .row
      .col-md-6
        = f.input :amount
    .row
      .col-md-6
        = f.input :kind, label: 'Type', include_blank: false,    |
          collection: format_collection(Settings.receipt_kinds), |
          input_html: {class: "form-control selectize"}          |
      .col-md-6
        = f.input :mode, include_blank: false,                   |
          collection: format_collection(Settings.receipt_modes), |
          input_html: {class: "form-control selectize"}          |
    .row
      .col-md-6
        = f.input :reference_1
      .col-md-6
        = f.input :reference_2

    %h4.form-section Notes
    .row
      .col-md-12
        = f.input :notes, label: false

  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to @receipt do
      %button.btn.btn-default{type: 'button'} Cancel
