%h1.page-header
  Analyze Copies
  %small / Report
.row
  .col-md-12
    %form#copies{action: "#{show_reports_path}", method: :post}
      = token_tag nil
      %section.panel.panel-default
        .panel-body
          .row
            .col-md-3
              = text_field_tag :start_date, nil, class: 'form-control datepicker-input', |
                'data-date-format' => 'yyyy-mm-dd', value: @data[:start_date]
            .col-md-3
              = text_field_tag :end_date, nil, class: 'form-control datepicker-input', |
                'data-date-format' => 'yyyy-mm-dd', value: @data[:end_date]
            .col-md-2
              = submit_tag 'Submit', class: 'btn btn-primary'
.row
  .col-md-12
    .panel.panel-default
      .panel-body
        .subnav
          %ul.nav.nav-tabs
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                Filter Fields
                %b.caret
              %ul.dropdown-menu.stop-propagation{style: "overflow:auto;max-height:450px;padding:10px;"}
                #filter-list
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                Row Label Fields
                %b.caret
              %ul.dropdown-menu.stop-propagation{style: "overflow:auto;max-height:450px;padding:10px;"}
                #row-label-fields
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                Column Label Fields
                %b.caret
              %ul.dropdown-menu.stop-propagation{style: "overflow:auto;max-height:450px;padding:10px;"}
                #column-label-fields
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                Summary Fields
                %b.caret
              %ul.dropdown-menu.stop-propagation{style: "overflow:auto;max-height:450px;padding:10px;"}
                #summary-fields
        .row
          .col-md-12
            #pivot-detail
            %br/
        .row
          .col-md-12
            #results
.hidden.report-name copies
.hidden.report-data= @data[:rows].to_json
