%h1.page-header
  Reports
  %small / Index
.row
  .col-md-6
    .panel.panel-default
      .panel-heading Operational Reports
      %ul.list-group
        %li.list-group-item= link_to 'Overdue Issues', show_reports_path('overdue_issues')
        %li.list-group-item= link_to 'Expired Memberships', show_reports_path('expired_memberships')
    .panel.panel-default
      .panel-heading Status Reports
      %ul.list-group
        %li.list-group-item= link_to 'Daily Status', show_reports_path('daily_status')
  .col-md-6
    .panel.panel-default
      .panel-heading Analytical Reports
      %ul.list-group
        %li.list-group-item= link_to 'Analyze Copies', show_reports_path('copies')
        %li.list-group-item= link_to 'Analyze Issues', show_reports_path('issues')
        %li.list-group-item= link_to 'Analyze Receipts', show_reports_path('receipts')
        %li.list-group-item= link_to 'Analyze Reservations', show_reports_path('reservations')
