%h1.page-header
  Reports
  %small / Overdue Issues
.row
  .col-md-12
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th #
            %th Item
            %th Accession No
            %th Member
            %th Issued
            %th Return
            %th.action-cell
        %tbody
          - @data[:issues].each do |issue|
            %tr
              %td= issue.id
              %td= issue.item.name
              %td= issue.copy.name
              %td= issue.member.name
              %td= issue.issued_date
              %td= issue.return_date
              %td.action-cell
                = show_link issue do
                  %span.btn-xs.btn-info
                    %i.fa.fa-search
                %span.spacer
.row
  .col-md-12.text-right
    = paginate @data[:issues]
.hidden.report-name overdue_issues
