%h1.page-header
  Reports
  %small / Unavailable Copies
.row
  .col-md-12
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th #
            %th Item
            %th Accession No
            %th Quality
            %th Status
            %th.action-cell
        %tbody
          - @data[:copies].each do |copy|
            %tr
              %td= copy.id
              %td= copy.item.name
              %td= copy.name
              %td= copy.quality.titleize
              %td= copy.status.titleize
              %td.action-cell
                = show_link copy do
                  %span.btn-xs.btn-info
                    %i.fa.fa-search
.row
  .col-md-12.text-right
    = paginate @data[:copies]
.hidden.report-name unavailable_copies
