!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %title Sangrah Library Management System
    %meta{content: "Online accounting for small businesses in India", name: "description"}/
    %meta{content: "Samyukti", name: "author"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag "ie", "data-turbolinks-track" => true
    %style#holderjs-style{type: "text/css"}
  %body{"app-controller" => "#{params[:controller].classify}", "app-action" => "#{params[:action]}" }
    .navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{data: {target: ".navbar-collapse", toggle: "collapse"}, type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: public_root_path} Sangrah
        .navbar-collapse.collapse
          = simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "navbar-form navbar-right", role: "form" } do |f|
            .form-group
              = f.input_field :email, label: false, placeholder: 'Email', class: 'form-control', size: 0
            .form-group
              = f.input_field :password, label: false, placeholder: 'Password', class: 'form-control', size: 0
            %button.btn.btn-success{type: :submit} Sign in
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: "/about"} About
            %li
              %a{href: "/policies"} Policies
            %li
              %a{href: "/items"} Items
            %li
              %a
    = yield
    #footer
      .container
        %p &copy; Samyukti 2014

    = javascript_include_tag "application"
    :javascript
      jQuery(document).ready(function () {
          Page.init();
      });
