= simple_form_for @member, defaults: {input_html: { class: 'form-control' }}, html: { multipart: true } do |f|
  .row
    .col-md-12
      .text-right
        = render 'shared/masters/form_actions', f: f

  = render 'shared/errors/messages', object: f.object

  .form-inputs
    .row
      .col-md-6
        = f.input :code, autofocus: true
      .col-md-6
        = f.input :name
    .row
      .col-md-6
        = f.association :membership, input_html: { class: 'selectize' }
      .col-md-6
        = f.input :kind, label: 'Type',                         |
          collection: format_collection(Settings.member_kinds), |
          input_html: {class: 'form-control selectize'}         |
    .row
      .col-md-6
        = f.input :gender,                                        |
          collection: format_collection(Settings.member_genders), |
          input_html: {class: 'form-control selectize'}           |
      .col-md-6
        = f.input :age_group,                                        |
          collection: format_collection(Settings.member_age_groups), |
          input_html: {class: 'form-control selectize'}              |

    %hr
    %h4.form-section Enrolment
    .row
      .col-md-3
        = f.input :join_date, as: :datepick, label: 'Joined On'
      .col-md-3
        = f.input :renewed_date, as: :datepick, label: 'Last Renewed'
      .col-md-3
        = f.input :renewal_date, as: :datepick, label: 'Next Renewal'
      .col-md-3
        = f.input :closed_date, as: :datepick, label: 'Closed On'

    %hr
    %h4.form-section Address
    = f.simple_fields_for :address do |a|
      = render 'shared/addresses/form', f: a

    %hr

    %h4.form-section Photo
    .row
      .col-md-12
        = f.input :photo, as: :file, label: false, input_html: { capture: 'camera' }

    %h4.form-section Notes
    .row
      .col-md-12
        = f.input :notes, label: false

  .form-actions
    = render 'shared/masters/form_actions', f: f
