%h1.page-header
  Members
  %small / View
.row
  .col-md-12
    .text-right
      = render 'shared/masters/show_actions'

    .row
      .col-md-6.text-center.pull-right
        .image-container
          = image_tag "/members/#{@member.id}/photo/thumb"
      .col-md-6
        .row
          .col-md-12
            = display_field @member.code, label: 'Code'
        .row
          .col-md-12
            = display_field @member.name, label: 'Name'
        .row
          .col-md-12
            = display_field @member.membership.name, label: 'Membership'
        .row
          .col-md-12
            = display_field @member.kind.titleize, label: 'Type'
    .row
      .col-md-6
        = display_field @member.gender.to_s.titleize, label: 'Gender'
      .col-md-6
        = display_field @member.age_group.to_s.titleize, label: 'Age Group'

    %hr
    %h4.form-section Enrolment
    .row
      .col-md-3
        = display_field @member.join_date, label: 'Joined On'
      .col-md-3
        = display_field @member.renewed_date, label: 'Last Renewed'
      .col-md-3
        = display_field @member.renewal_date, label: 'Next Renewal'
      .col-md-3
        = display_field @member.closed_date, label: 'Closed On'

    %hr
    %h4.form-section Address
    = render 'shared/addresses/show', address: @member.address if @member.address

    %hr
    .row
      .col-md-12
        = display_field @member.notes, label: 'Notes'
