%h1.page-header
  Members
  %small / View
.row
  .col-md-12
    .text-right
      = render 'shared/masters/show_actions'

    .row
      .col-md-6.text-center.pull-right
        .image-container
          = image_tag "/members/#{@master.id}/photo/thumb"
      .col-md-6
        .row
          .col-md-12
            = display_field @master.code, label: 'Code'
        .row
          .col-md-12
            = display_field @master.name, label: 'Name'
        .row
          .col-md-12
            = display_field @master.membership.name, label: 'Membership'
        .row
          .col-md-12
            = display_field @master.kind.titleize, label: 'Type'
    .row
      .col-md-6
        = display_field @master.gender.to_s.titleize, label: 'Gender'
      .col-md-6
        = display_field @master.age_group.to_s.titleize, label: 'Age Group'

    %hr
    %h4.form-section Address
    = render 'shared/addresses/show', address: @master.address

    %hr
    .row
      .col-md-12
        = display_field @master.notes, label: 'Notes'
